@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.desktop-homepage {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Inter:400");

.dragfilebackground{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 656px;
  height: 488px;
  flex-shrink: 0;
  background: #DEF0F2;
  border-radius: 2em;
}

.draganddrop{
  display: flex;
  width: 178px;
  height: 197px;
  flex-direction: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  
}

.dragbg2{
  width: 489px;
  height: 488px;
  flex-shrink: 0;
  background: #43888F;
  border-radius: 2em;
}

.dragfilebackground, .dragbg2
{
    display:inline;
     text-align:center;
}

.font1{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.graphbox{
  width: 528px;
  height: 115.344px;
  flex-shrink: 0;
  background: #FFF;
}

.choosebox{
  width: 570px;
  height: 659.765px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #42535D;
}