
.process-num{
    width: 4em;
    height: 4em;
    background-color: #FEEFED;
    border: 4px solid #FA9EA9;
    border-radius: 50%;
    text-align: center;
    padding-top: 1em;
    font-style: bold;
}

.web-topic {
    display: flex;
    flex-direction: row;
    padding: 1em
}

.web-topic label {
    font-size: 2em;
    text-align: center;
    margin-left: 2em;
}

.index-body{
    margin: 0px;
}

.index-context {
    margin: 0px;
    padding: 1em;
}
.index-body .index-context:nth-child(odd){
    background-color: #FDF7E7;
}

.index-body .index-context:nth-child(even) {
    background-color: #FAEEC8;
}
