body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.header {
  background: #43888F;
}

.footer {
  background: #D1EAEC;
  padding: 2.5%;
}

.footer h1 {
  background: #43888F;
  color: white;
  flex-shrink: 0;
  margin: -2.5%;
  padding: 2.5%;
  margin-bottom: 3%;
}

.footer-card {
  flex-shrink: 0;
  border-radius: 25px;
  background: #FDF7E7;
  margin-left: 0%;
  width: 90%;
  padding: 2.5%;
}

.footer-card label {
  font-size: 1.5rem;
}

.viztastic-logo {
  background-image: url("../static/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 30px;
}
@media screen and (max-width: 450px){
  .viztastic-logo {
    background-image: url("../static/Logo_small.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 30px;
  }
}
#mainDiv{
  background-color: #FAEEC8;
}
#subDiv{
  background-color: #FDF7E7;
}

#grad {
  background-image: linear-gradient(to right, #FA9EA9 ,rgba(255,0,0,0));
  color:black;
  border:0;
}
#startButton{
  background-color: #43888F;
  color: #FDF7E7;
  border: 0;
  border-radius: 4%;
  padding: 2%;
}