{% extends 'web/layout.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div id="grad">
    <h1>
        Visualize your data with the best tool in the world
    </h1>
    <img id="" src="static/Octocat.png"  alt="#">
    <div id="subDiv">
    <button id="startButton">
        Let's Get Start
    </button>
</div>
</div>
<div id="mainDiv">
    <h1>
        NEWS
    </h1>
        <div >
            <button  id="grad">
                <img src="static/Octocat.png" alt="#">
                <h1>Changelog</h1>
            </button>
            <button id="grad">
                <img src="static/Octocat.png" alt="#">
                <h1>Events</h1>
            </button>
        </div>
</div>
<div id="mainDiv">
    <h1>
        Our Charts
    </h1>
    <div id="chartList">
        <button id="cards"><img src="static/Octocat.png" alt="#">A</button>
        <button id="cards"><img src="static/Octocat.png" alt="#">A</button>
        <button id="cards"><img src="static/Octocat.png" alt="#">A</button>
        <button id="cards"><img src="static/Octocat.png" alt="#">A</button>
    </div>
</div>
<div id="subDiv">
    <h1>
        Learn With Us
    </h1>
    <div id="learnList">
        <button id="cards">A</button>
        <button id="cards">A</button>
        <button id="cards">A</button>
        <button id="cards">A</button>
    </div>
</div>
{% endblock %}