{% extends 'web/layout.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class = "index-body">
    <div class = "index-context" id = "grad">
        <h1 id="start-heading">
            Visualize your data with the best tool in the world
        </h1>
        <img id="" src="static/Octocat.png"  alt="#">
        
    </div>

    <div id="subDiv">
        <button id="startButton">
            Let's Get Start
        </button>
    </div>

    <h1>
        NEWS
    </h1>
    <button id="grad">
        <img src="static/Octocat.png" alt="#">
        <h1>Changelog</h1>
    </button>
    <button id="grad">
        <img src="static/Octocat.png" alt="#">
        <h1>Events</h1>
    </button>
    <div class = "index-context">
        <h1>
            Our Charts
        </h1>
        <div id="card-list">
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">A</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">A</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">A</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">A</button>
        </div>
    </div>
    <div class = "index-context">
        <h1>
            Learn With Us
        </h1>
        <div id="card-list">
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Histogram</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Map Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Bubble Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Box Chart</button>
        </div>
    </div>
</div>

{% endblock %}