{% extends 'web/layout.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class = "index-body">
    <h1 id="start-heading">
        Visualize your data with the best tool in the world
    </h1>
    <div class = "index-context" id = "grad">
        <img id="start-image" src="static/pieChart.png"  alt="#"> 
    </div>

    <div id="subDiv" class="index-context">
        <button id="start-button">
            Let's Get Start
        </button>
    </div>

    <div class = "index-context">
        <h1 id="home-text">
            NEWS
        </h1>
            <div>
                <button id="grad">
                    <img src="static/news.png" alt="#">
                    <h1>Changelog</h1>
                </button>
                <button id="grad">
                    <img src="static/events.png" alt="#">
                    <h1>Events</h1>
                </button>
            </div>
    </div>
    <div class = "index-context">
        <h1 id="home-text">
            Our Charts
        </h1>
        <div id="card-list">
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Histogram</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Map Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Bubble Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Box Chart</button></div>
    </div>
    <div class = "index-context">
        <h1 id="home-text">
            Learn With Us
        </h1>
        <div id="card-list">
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Histogram</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Map Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Bubble Chart</button>
            <button id="cards"><img id="card-img" src="static/Octocat.png" alt="#">Box Chart</button>
        </div>
    </div>
</div>

{% endblock %}