
{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Let's goooooooo
{% endblock %}

{% block content %}
<body>
    <script>
        function fetch_weather() {
        axios.get('https://api.open-meteo.com/v1/forecast?latitude=14.0135&longitude=100.5305&daily=temperature_2m_max,temperature_2m_min,rain_sum&timezone=Asia%2FBangkok&start_date=2023-10-18&end_date=2023-10-25')
        .then(function (response) {
        // handle success
        let weather_data = response.data['daily'];
        let weather_div = document.getElementById('weathers');
        console.log(weather_data)
        weather_div.innerHTML = "<p style = 'color:white;'>" + JSON.stringify(weather_data) + "</p>";
        });
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    <script>
        async function refresh_visual() {
        let weather_data = await
        axios.get('https://api.open-meteo.com/v1/forecast?latitude=14.0135&longitude=100.5305&daily=temperature_2m_max,temperature_2m_min,rain_sum&timezone=Asia%2FBangkok&start_date=2023-10-18&end_date=2023-10-25')
            .then(function (response) {
        // handle success
            return response.data['daily'];
        });
        let temp_max = [];
        let temp_min = [];
        weather_data['time'].forEach((data, index) => {
            let max_obj = {
                "date": new Date(data),
                "temperature": weather_data['temperature_2m_max'][index]
            }
            let min_obj = {
                "date": new Date(data),
                "temperature": weather_data['temperature_2m_min'][index]
            }
                temp_max.push(max_obj);
                temp_min.push(min_obj);
        });
        const plot = Plot.plot({
            marks: [
                Plot.lineY(temp_max, { x: "date", y: "temperature", tip: "x", stroke: "red" }),
                Plot.lineY(temp_min, { x: "date", y: "temperature", tip: "x", stroke: "blue" }),
            ]
        })
        const div = document.getElementById('visual');
        div.append(plot);
        }
        refresh_visual();
    </script>
    <div class="container-fluid index-body">
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">1
                </div>
                <label>Upload Your Dataset</label>
                
            </div>
            <div class="dropbox container-fluid">
                <div class="dragfilebackground">
                    <label class="font1">Drag and Drop your file</label>
                    <img src="{% static 'download.jpg' %}" />
                </div>
                <div class="dragbg2">
                    <label class="font1">Search from devices</label>
                    <button onclick="console.log('Upload Dataset')">Upload</button>
                </div>
            </div>
            <div class = "error">
                <img class="sketch-annotation" src="https://c.animaapp.com/lvm8L3gq/img/sketch-annotation-element-brush-pen-illustrations-exclamation-ma.png" />
                <p>You do not have a file yet</p>
            </div>
        </div>

        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">2
                </div>
                <label>Choose your visualizing method</label>
            </div>
            <div class="choices">
                <div class="subchoice">
                    <img class="bar-chart" src="{% static 'bar-chart-01.png' %}" />
                    <label>Histogram</label> 
                    
                </div>  
                <div class="subchoice">
                    <img class="bar-chart" src="{% static 'bar-chart-02.png' %}" />
                    <label>Horizontal Histogram</label>
                </div>  
                <div class="subchoice">
                    <img class="bar-chart" src="{% static 'pie-chart-01.png' %}" />
                    <label>Pie Chart</label>
                </div>  
                <div class="subchoice" onclick="fetch_weather()">
                    <img class="bar-chart" src="{% static 'graph-increase.png' %}" />
                    <label>Line Chart</label>
                </div>  
                <div class="subchoice">
                    <img class="bar-chart" src="{% static 'dotgraph.png' %}" />
                    <label>Dot Chart</label>
                </div>  
            </div>
            <div class="web-topic">
                <div class="desktop-homepage">
                    <div class="fillfield" id = "visual">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">3
                </div>
                <label>Statistic Summary</label>
            </div>
            <div class="result">
                <div class="fillfield" id = "weathers">
                    <h1>You do not have a file yet</h1>
                </div>
                <button onClick="console.log('Download Dataset')">Download your model</button>
            </div>
                    
            </div>
        </div>
    </div>
</body>



{% endblock %}


