
{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Let's goooooooo
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid index-body">
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">1
                </div>
                <label>Upload Your Dataset</label>
            </div>
            <img class="upload-dropbox-2" src="https://c.animaapp.com/lvm8L3gq/img/upload-dropbox.png" />
            <div>
                <img class="sketch-annotation" src="https://c.animaapp.com/lvm8L3gq/img/sketch-annotation-element-brush-pen-illustrations-exclamation-ma.png" />
                <p class="text-wrapper-12">You do not have a file yet</p>
            </div>
        </div>
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">2
                </div>
                <label>Choose your visualizing method</label>
            </div>
            <div class="method">
                <div class "group-2">
                    <div class="overlap-group-4">
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-7">Histogram</div>
                        <img class="bar-chart" src="https://c.animaapp.com/lvm8L3gq/img/bar-chart-01-1.svg" />
                    </div>
                </div>
            </div>
            <div class="overlap-5">
                <p class="text-wrapper-9">Choose your method before proceed</p>
            </div>
        </div>
        <div class="container-fluid index-context">
            <div class="web-topic">
                <div class="process-num">3
                </div>
                <label>Statistic Summary</label>
            </div>
            <div class="overlap-group-wrapper">
                <div class="overlap-2">
                    <p class="p">You do not have a file yet</p>
                </div>
            </div>
            <div class="group">
                <div class="overlap-3">
                    <button>Download your model</button>
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock %}


