
{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Let's goooooooo
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="desktop-homepage">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="data-upload">
                    <div class="h-3">
                        <div class="text-wrapper-10">Upload your dataset</div>
                        <div class="overlap-group-5"><div class="text-wrapper-11">1</div></div>
                    </div>
                    <img class="upload-dropbox-2" src="https://c.animaapp.com/lvm8L3gq/img/upload-dropbox.png" />
                    <img class="sketch-annotation" src="https://c.animaapp.com/lvm8L3gq/img/sketch-annotation-element-brush-pen-illustrations-exclamation-ma.png" />
                    <p class="text-wrapper-12">You do not have a file yet</p>
                </div>
                <div class="model-selection">
                    <div class="h-2">
                        <div class="text-wrapper-3">Choose your visualizing method</div>
                        <div class="overlap-group-3"><div class="text-wrapper-6">2</div></div>
                    </div>
                    <div class="method">
                        <div class "group-2">
                            <div class="overlap-group-4">
                                <div class="rectangle-3"></div>
                                <div class="text-wrapper-7">Histogram</div>
                                <img class="bar-chart" src="https://c.animaapp.com/lvm8L3gq/img/bar-chart-01-1.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="overlap-5"><p class="text-wrapper-9">Choose your method before proceed</p></div>
                </div>
                <div class="statistic-summary">
                    <div class="h-2">
                        <p class="text-wrapper-3">Final Result of Visualization model</p>
                        <div class="div-wrapper"><div class="text-wrapper-4">3</div></div>
                    </div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-2"><p class="p">You do not have a file yet</p></div>
                    </div>
                    <div class="group">
                        <div class="overlap-3"><div class="text-wrapper-5">Download your model</div></div>
                    </div>
                </div>
                <div class="rectangle"></div>
                <div class="contract-us">
                    <div class="div"></div>
                    <div class="overlap-group">
                        <div class="h-wrapper">
                            <div class="h">
                                <div class="text-wrapper">Contact Us</div>
                            </div>
                        </div>
                        <div class="upload-dropbox">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-2">Viztastic Inc.</div>
                                <p class="element-AAAAA">44/44 Moo5 AAAAA street<br />Bang Kra Di, Pathum Thani</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



{% endblock %}


