{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
Let's goooooooo
{% endblock %}
{% block content %}


<body>
    <div class = "index-body">
        <div class = "index-context setting-context">
            <h1 class = "container-fluid">Setting</h1>
            <h2>My Account</h2>
            <table border="1">
                <tr>
                    <th>NAME</th>
                    <th>DATE</th>
                    <th>TYPES OF VISUALIZATION</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td class = "underlined" onClick="console.log('Hello World')">Golf Score Chart</td>
                    <td>January 30, 2023</td>
                    <td>Pie Chart,Histogram,Multiple Bar Chart, etc.</td>
                    <td><button onclick="console.log('Delete Dataset')">Delete</button></td>
                </tr>
                <tr>
                    <td class = "underlined" onClick="console.log('Hello World')">Makro Quarter Analysis</td>
                    <td>December 12, 2022</td>
                    <td>Lineplot,Barplot,Sunburst Chart,etc.</td>
                    <td><button onclick="console.log('Delete Dataset')">Delete</button></td>
                </tr>
            </table>
        </div>
    
    
    
        <div class = "index-context setting-context">
            <h2>Change Your Name</h2>
            <div class = "input">
                <label>First Name</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>
            <div class = "input">
                <label>Last Name</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>
            <div class = "input">
                <label>Account</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>   
            <div class = "input">
                <label>Email</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>   
        </div>
    
    
    
    
        <div class = "index-context setting-context">
            <h2>Change your Password</h2>
            <div class = "input">
                <label>New Password</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>   
            <div class = "input">
                <label>Old Password</label>
                <input class = input-container type="text" placeholder="Enter text">
            </div>
            <div class = "setting-notice">
                <p>* Please note after changing your password, you must log back in</p>
                <div class = "passChange">
                    <button style = "background-color: #43888F;" onClick="console.log('Change Password')">Apply</button>
                    <button style = "background-color: #ED7A88;" onClick="console.log('Clear Data')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}