{% extends 'web/layout.html' %}
{% load static %}

{% block title %}
D3 Visualization
{% endblock %}

{% block content %}
<div id = "weathers"> </div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
<script>
    function fetch_data(){
    axios.get('https://api.open-meteo.com/v1/forecast?latitude=14.0135&longitude=100.5305&daily=temperature_2m_max,temperature_2m_min,rain_sum&timezone=Asia%2FBangkok&start_date=2023-10-18&end_date=2023-10-25')
    .then(function (response) {
    // handle success
    let weather_data = response.data['daily'];
    let weather_div = document.getElementById('weathers');
    weather_div.innerHTML = JSON.stringify(weather_data);
    });
}
</script>
<button onclick="fetch_data()">Fetch Data</button>
<script>
    
    async function refresh_visual() {
    let salary_api = await axios.get('https://potential-memory-v6qrxq54pxpc6gwp-8000.app.github.dev/visualize/classification')
        .then(function (response) {
            return response.data;
        });

        let temp_max = [];
        let temp_min = [];
        weather_data['time'].forEach((data, index) => {
        let max_obj = {
        "date": new Date(data),
        "temperature": weather_data['temperature_2m_max'][index]
        }
        let min_obj = {
        "date": new Date(data),
        "temperature": weather_data['temperature_2m_min'][index]
        }
        temp_max.push(max_obj);
        temp_min.push(min_obj);
        });
        const plot = Plot.plot({
        marks: [
        Plot.lineY(temp_max, { x: "date", y: "temperature", tip: "x", stroke: "red" }),
        Plot.lineY(temp_min, { x: "date", y: "temperature", tip: "x", stroke: "blue" }),
        ]
    })
    
    const div = document.getElementById('visual');
    div.append(plot);
}

refresh_visual();
</script>

<button onclick="refresh_visual()">Refresh Visualization</button>
</div>
{% endblock %}
